stages:
  - setup
  - dast

# 1. Subir a aplica칞칚o vulner치vel Juice Shop..
setup_juice_shop:
  stage: setup
  script:
    - docker ps -a  # apenas para confirmar que o Docker est치 funcionando
    - |
      if [ "$(docker ps -aq -f name=juice-shop)" ]; then
        echo "丘멆잺 O container juice-shop j치 existe. Ignorando cria칞칚o."
      else
        echo "游 Subindo o container juice-shop..."
        docker run -d -p 3000:3000 --name juice-shop bkimminich/juice-shop
      fi
  only:
    - main

zap_baseline_scan:
  stage: dast
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - mkdir -p relatorios
    - docker run --rm -u 0 -v "$PWD/relatorios:/zap/wrk" ghcr.io/zaproxy/zaproxy zap-baseline.py -t http://192.168.15.91:3000 -r zap_report.html -I || echo "丘멆잺 Vulnerabilidades encontradas."
  artifacts:
    paths:
      - relatorios/zap_report.html
    when: always
    expire_in: 1 week
  allow_failure: true


# 3. Rodar ZAP full scan (ativo)
zap_full_scan:
  stage: dast
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - mkdir -p relatorios
    - docker run --rm -u 0 -v "$PWD/relatorios:/zap/wrk" ghcr.io/zaproxy/zaproxy zap-full-scan.py -t http://192.168.15.91:3000 -r zap_report_full.html -I || echo "丘멆잺 Vulnerabilidades encontradas pelo ZAP. Relat칩rio gerado para auditoria."
  artifacts:
    paths:
      - relatorios/zap_report_full.html
    when: always
    expire_in: 1 week
  allow_failure: true
